@base: grey;

body{
  background-color: @base;
}
.dropdown{
  margin-top: 40px;
  width: 200px;
}
.form-button{
  margin-top: 40px;
  width: 200px;
}
#hint{
  height: 200px;
}
button{
  width: 200px;
}
.blue{
  background-color: #B6D4E5;
}
