extends ../shared/template
block content
  h2 New Treasure Map
  .row
    .col-xs-12
      form(role='form', method='post', action='/treasure')
        .row
          .col-xs-6
            input#lat(type='hidden', name='lat')
            input#lng(type='hidden', name='lng')
            .form-group
              label(for='name') Map Name
              input.form-control#name(type='text', name='name', autofocus=true,)
            .form-group
              label(for='loc') Location
              input.form-control#loc(type='text', name='loc')
            .form-group
              label(for='hint') Hint
              textarea.form-control#hint(type='text', name='hint')
          .col-xs-6
            .form-group
              label(for='photo') Add Photo
              input.form-control#photos(type='file', name='photos', multiple=true)
            .form-group
              label(for='difficulty') Difficulty
              br
              select(name='difficulty')
                option Easy
                option Medium
                option Hard
            .form-group
              button.btn.btn-danger(type='submit') Add Treasure Map

block scripts
  script(src='/js/user/init.js')
