extends ../shared/template
block content
  h2 New Treasure Map
  .row
    .col-xs-6
      form(role='form', method='post', action='/treasure')
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
        .form-group
          label(for='name') Map Name
          input.form-control#name(type='text', name='name', autofocus=true,)
        .form-group
          label(for='loc') Location
          input.form-control#location(type='text', name='loc')
        .form-group
          label(for='hint') Hint
          textarea.form-control#hint(type='text', name='hint')
    .col-xs-6
        .form-group
          label(for='photo') Add Photo
          input.form-control#photo(type='file', name='photo')
        .dropdown
          button#dropdownMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | Difficulty Level
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Easy
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Intermediate
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Difficult
        .form-button
          button.btn.btn-danger(type='submit') Add Treasure Map

          script(src='/js/user/init.js')
block scripts
